<% layout('layouts/boilerplate')%> 

<div class="container">
    <div class="row">
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://www.commonapp.org/static/0a0485c23e59e447cd5c40db2b3df6e3/american-university-beirut-aub_929.png" alt="" >
                <div class="card-body">
                    <h5 class="card-title">American University of Beirut (AUB)</h5>
                    <p class="card-text">The American University of Beirut is a private, non-sectarian, and independent university chartered in New York with its campus in Beirut, Lebanon. AUB is governed by a private, autonomous board of trustees and offers programs leading to bachelor's, master's, MD, and PhD degrees.</p>
                    <a href="/r/AUB" class="btn btn-outline-success btn-sm">View Products</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://toolbox.lau.edu.lb/_ui/lau-logo-social-media.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-title">Lebanese American University (LAU)</h5>
                    <p class="card-text">The Lebanese American University is a secular and private American university located in Lebanon. It is chartered by the board of regents of the University of the State of New York and is accredited by the New England Commission of Higher Education. It has two campuses and offers 58 degrees.</p>
                    <a href="/r/LAU" class="btn btn-outline-success btn-sm">View Products</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 mb-4">
            <div class="card">
                <img class="card-img-top" src="https://www.ndu.edu.lb/images/NewLogoNDU.gif" alt="">
                <div class="card-body">
                    <h5 class="card-title">Notre Dame University - Louaize (NDU)</h5>
                    <p class="card-text">Notre Dame University–Louaize is a private Catholic university in Zouk Mosbeh, Lebanon, founded as Louaize College for Higher Education in 1978 in cooperation with Beirut University College. NDU is accredited by NECHE (The New England Commission of Higher Education), and currently ranked 5th in Lebanon, according to its presence on the Web by the Webometrics Ranking of World Universities.</p>
                    <a href="/r/NDU" class="btn btn-outline-success btn-sm">View Products</a>
                </div>
            </div>
        </div>
    </div>
</div>